@import url("https://fonts.googleapis.com/css2?family=Albert+Sans&family=Arima+Madurai&family=Lato:wght@300;400;700&family=Montserrat:wght@500&family=Noto+Sans:ital,wght@0,500;0,900;1,400;1,500;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");

* {
  scroll-behavior: smooth;
}

:root {
  --clr-orange: #b27d3e;
  --clr-white: #ebe9ec;
  --clr-white-2: #eeeeee;
  --clr-white-3: #f3f1d0;
  --clr-white-4: #f5f5f2;
  --clr-red: #995860;
  --clr-green: #8a9a93;
  --clr-dark: #1d161e;
  --clr-dark-2: #1d161e;
  --clr-dark-3: #332733;
  --clr-dark-4: #666;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--clr-white-4);
  margin: 0;
  padding: 0;
}

main {
  padding: 7vh 15vw;
}

h2 {
  font-size: 3em;
  color: var(--clr-dark);
}

h3 {
  font-size: 2.5em;
  color: var(--clr-dark-3);
}

a {
  color: var(--clr-orange);
  transition: 0.3s ease-in-out;
  text-decoration: none var(--clr-green) 0.12rem;
}

li > a {
  display: flex;
}

a:hover {
  text-decoration: underline wavy var(--clr-green) 0.12rem;
  text-underline-offset: 0.3rem;
}

/* -------------------- HEADER -------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15vw;
  background-color: var(--clr-white-4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-link-container {
  position: absolute;
}

.header__link {
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.header__link:hover {
  text-decoration: wavy underline var(--clr-green);
}

.header-title-container {
  flex: 1;
  text-align: center;
}

.header-title-container h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--clr-dark-3);
}

/* -------------------- PROGRESS BAR -------------------- */

.progress-container {
  width: 100%;
  height: 0.5rem;
  background: var(--clr-dark-3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.progress-bar {
  height: 0.5rem;
  background: var(--clr-orange);
  width: 0%;
}

/* -------------------- VIDEO -------------------- */

.video-section {
  display: flex;
  justify-content: center;
}

.video-container {
  width: 100%;
  background: var(--clr-white-4);
  overflow: hidden;
  border-radius: 0.625rem;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* -------------------- SUMMARY -------------------- */

.summary-header {
  display: flex;
  justify-content: center;
}
.summary-section {
  margin: 0 auto;
}

.summary p {
  font-size: 1.2em;
  line-height: 1.6;
  color: var(--clr-dark-3);
}

blockquote {
  font-style: italic;
  margin: 20px 0;
  padding: 20px;
  border-left: 5px solid var(--clr-red);
}

blockquote p {
  color: var(--clr-white-2);
  margin: 0 0 10px;
}

blockquote footer {
  text-align: right;
  font-size: 1em;
  color: var(--clr-dark-4);
}

/* -------------------- PROCESS -------------------- */

.process-header {
  color: var(--clr-dark-3);
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.process-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.process-step-height-70 {
  height: 70vh;
}

.process-step-height-50 {
  height: 50vh;
}

.process-step:nth-child(odd) {
  flex-direction: row-reverse;
}

.content {
  max-width: 40%;
}

.content p {
  font-size: 1rem;
  color: #666;
}

.image-container {
  max-width: 50%;
  overflow: hidden;
  position: relative;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20% 0 5% 0;
}

.image-container img {
  height: 100%;
  width: 100%;
}

.image-container.single-image img {
  border-radius: 0.5rem;
}

.image-container.multiple-images img:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.image-container.multiple-images img:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* -------------------- FOOTER -------------------- */

#footer-section {
  height: 15rem;
}

.footer__container a {
  color: var(--clr-dark);
  text-underline-offset: var(--offset, 0.2em);
  text-decoration: none;
  transition: 0.5 ease-in-out;
}

.footer__container {
  padding: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer__img {
  width: 10rem;
  height: 10rem;
  animation: scaled-face 10s ease-in-out infinite;
}

.footer__link {
  font-size: 0.8rem;
  flex: 1;
  text-decoration: none;
}

/* -------------------- FOOTER HOVER & ANIMATION -------------------- */

.footer__img-container:hover .footer__img {
  filter: blur(0);
  text-underline-offset: 1rem;
  text-decoration: underline wavy var(--clr-green);
  color: var(--clr-white);
}

@keyframes scaled-face {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.footer__link:hover {
  text-underline-offset: 0.4rem;
  text-decoration: underline wavy var(--clr-green);
}

/* -------------------- MEDIA QUERIES -------------------- */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header-link-container {
    position: relative;
  }
  main {
    padding: 5vh 5vw;
  }

  .header {
    padding: 1rem 5vw;
  }

  .process-step {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
  }

  .process-step:nth-child(odd) {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    min-height: 30%;
    padding: 0;
  }

  .image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .content {
    max-width: 90%;
    text-align: center;
  }

  .image-container {
    max-width: 90%;
    padding: 10% 0;
  }
  .footer__link {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .header-title-container h1 {
    font-size: 1.5rem;
  }

  .content h3 {
    font-size: 2rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .footer__container {
    padding: 10vw;
    align-items: center;
  }
}
